.introducao-bg {
  background-color: #f7c7b9;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 140px;
}

.introducao-descricao {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.titulo-introducao {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3.25rem;
  color: #161212;
}

.paragrafo-introducao {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #404040;
}

.link {
  background-color: #da2535;
  width: 170px;
  padding: 8px 9px;
  color: #fff;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .introducao-bg {
    padding-bottom: 30px;
  }

  .introducao {
    display: block;
  }

  .introducao-descricao {
    gap: 15px;
    align-items: center;
  }

  .titulo-introducao {
    font-size: 2rem;
    text-align: center;
    line-height: 1;
  }

  .paragrafo-introducao {
    font-size: 1rem;
    text-align: center;
  }

  .introducao img {
    display: none;
  }
}
